.screen{
	width:98%;
	margin-left:auto;
	margin-right:auto;
	background-color:#ffffff;
	border:1px solid black;
	opacity:0.6;
	overflow:hidden;
}

#warning{
	text-align:center;
	color:red;
	font-size:20px;
}

body{
	background-image:url('battleback.jpg'); 
	background-repeat:no-repeat; 
	background-position:50% 0%; 
}

#title{
	font-size:40px;
	text-align:center;
	font-weight:bold;
}

#title2{
	font-size:80px;
	text-align:center;
	font-weight:bold;
}

#choices{
	text-align:center;
	font-size:15px;
}

#playerForm{
	text-align:center;
	font-size:20px;
}

#quit{
	margin-top:700px;
	text-align:center;
}

#forfeit{
	width:100px;
	height:50px;
	clear:both;
	font-weight:bold;
}

#forfeitscreen{
background-image:url('forfeitscreenback.jpg'); 
background-repeat:no-repeat; 
background-position:50% 0%; 
height:90em; margin-top:50px; 
text-align:center;"
}

#forfeitscreen button{
margin-top:750px;
}

#forfeitwinscreen{
background-image:url('forfeitwinscreenback.jpg'); 
background-repeat:no-repeat; 
background-position:50% 0%; 
height:90em; margin-top:50px; 
text-align:center;"
}

#forfeitwinscreen button{
margin-top:750px;
}

#winscreen{
background-image:url('winscreenback.jpg'); 
background-repeat:no-repeat; 
background-position:50% 0%; 
height:90em; margin-top:50px; 
text-align:center;"
}

#winscreen button{
margin-top:750px;
}

#losescreen{
background-image:url('losescreenback.jpg'); 
background-repeat:no-repeat; 
background-position:50% 0%; 
height:90em; margin-top:50px; 
text-align:center;"
}

#losescreen button{
margin-top:750px;
}

/*Code for Placing ships*/
#displayConfirm{
	text-align:center;
	font-size:20px;
}

#confirmbutton{
	float:right;
	width:100px;
	height:50px;
	margin-right:100px;
}

#playerGrid{
	float:right;
	margin-right:500px;
}

#directions{
	margin-right:550px;
	float:right;
}

#directions button{
	width:100px;
	height:50px;
}

#left{
	float:left;
	background-image:url('dirleft.jpg');
}
#up{
	float: left;
	background-image:url('dirup.jpg');
}
#right{
	float:left;
	background-image:url('dirright.jpg');
}
#down{
	margin-left:100px;
	background-image:url('dirdown.jpg');
}

.selectCell{
	width:50px;
	height:50px;
	background-color:#00F;
	transition: background-color 2s;
	-moz-transition: background-color 2s; /* Firefox 4 */
	-webkit-transition: background-color 2s; /* Safari and Chrome */
	-o-transition: background-color 2s; /* Opera */
}

.selectCell:hover{
	background-color:#AAF;
}

#ships{
	float:left;
	margin-left:600px;
}

#innertext{
	font-weight:bold;
	font-size:15px;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}

#unsetCarrier{
	background-color:orange;
	clear:right;
	float:left;
	width:50px;
	height:250px;
	margin-bottom:20px;
}
#unsetBattleship{
	background-color:yellow;
	width:50px;
	height:200px;
	float:left;
	clear:right;
}
#unsetSubmarine{
	background-color:purple;
	width:50px;
	height:150px;
	float:left;
	margin-bottom:0;
	padding:0;
	margin-right:20px;
}
#unsetCruiser{
	clear:left;
	float:left;
	background-color:pink;
	width:50px;
	height:150px;
	margin-right:20px;
}
#unsetPatrolBoat{
	background-color:green;
	width:50px;
	height:100px;
	float:left;
	clear:both;
}


/*Code for Game play */

#turnIndicator{
	text-align:center;
	font-size:50px;
}

#playerShips{
	float:left;
	margin-left:300px;
	text-align:center;
}

#playerShips table tr td{
	width:50px;
	height:50px;
	background-color:blue;
}

#playerShips table tr td:first-child{
	width:10px;
	background-color:white;
	font-weight:bold;
}

#enemyShips{
	float:right;
	margin-right:300px;
	text-align:center;
}


.fireButton{
	width:50px;
	height:50px;
	background-color:blue;
	background-image: none;
	background-position:center;
	transition: background-image 4s;
	-moz-transition: background-image 4s; /* Firefox 4 */
	-webkit-transition: background-image 2s; /* Safari and Chrome */
	-o-transition: background-image 2s; /* Opera */
}

.fireButton:hover{
	background-image:url('target.jpg');
}

.fireButtonMiss{
	width:50px;
	height:50px;
	background-color:#EEE;
}
/* Can each also be used when player's ships are hit*/
.fireButtonHit{
	width:50px;
	height:50px;
	background-color:red;
}
/* Can each also be used when player's ships are hit*/
.fireButtonDead{
	width:50px;
	height:50px;
	background-image: url('dead.jpg');
	background-repeat:no-repeat;
	background-position:center top;
}

/*Player's grid's tds would have class name = these according to where they placed their ships*/
.carrier{
	background-color:orange;
}
.battleship{
	background-color:yellow;
}
.submarine{
	background-color:purple;
}
.cruiser{
	background-color:pink;
}
.patrolBoat{
	background-color:green;
}
