#title{
	font-size:40px;
	text-align:center;
}

#playerGrid{
	float:right;
	margin-right:500px;
}

.selectCell{
	width:50px;
	height:50px;
	background-color:#00F;
	transition: background-color 2s;
	-moz-transition: background-color 2s; /* Firefox 4 */
	-webkit-transition: background-color 2s; /* Safari and Chrome */
	-o-transition: background-color 2s; /* Opera */
}

.selectCell:hover{
	background-color:#AAF;
}

#ships{
	float:left;
	margin-left:600px;
}

#innertext{
	font-weight:bold;
	font-size:15px;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}

.unsetcarrier{
	background-color:orange;
	clear:right;
	float:left;
	width:50px;
	height:250px;
	margin-bottom:20px;
}
.unsetbattleship{
	background-color:red;
	width:50px;
	height:200px;
	float:left;
	clear:right;
}
.unsetsubmarine{
	background-color:purple;
	width:50px;
	height:150px;
	float:left;
	margin-bottom:0;
	padding:0;
	margin-right:20px;
}
.unsetcruiser{
	clear:left;
	float:left;
	background-color:pink;
	width:50px;
	height:150px;
	margin-right:20px;
}
.unsetpatrolBoat{
	background-color:green;
	width:50px;
	height:100px;
	float:left;
	clear:both;
}


/*Code for Game play */

#turnIndicator{
	text-align:center;
	font-size:50px;
}

#playerShips{
	float:left;
	margin-left:300px;
	text-align:center;
}

#playerShips table tr td{
	width:50px;
	height:50px;
	background-color:blue;
}

#playerShips table tr td:first-child{
	width:10px;
	background-color:white;
	font-weight:bold;
}

#enemyShips{
	float:right;
	margin-right:300px;
	text-align:center;
}


.fireButton{
	width:50px;
	height:50px;
	background-color:blue;
	background-image: none;
	background-position:center;
	transition: background-image 4s;
	-moz-transition: background-image 4s; /* Firefox 4 */
	-webkit-transition: background-image 2s; /* Safari and Chrome */
	-o-transition: background-image 2s; /* Opera */
}

.fireButton:hover{
	background-image:url('target.jpg');
}

.fireButtonMiss{
	width:50px;
	height:50px;
	background-color:#EEE;
}
/* Can each also be used when player's ships are hit*/
.fireButtonHit{
	width:50px;
	height:50px;
	background-color:red;
}
/* Can each also be used when player's ships are hit*/
.fireButtonDead{
	width:50px;
	height:50px;
	background-image: url('dead.jpg');
	background-repeat:no-repeat;
	background-position:center top;
}

/*Player's grid's tds would have class name = these according to where they placed their ships*/
.carrier{
	background-color:orange;
}
.battleship{
	background-color:red;
}
.submarine{
	background-color:purple;
}
.cruiser{
	background-color:pink;
}
.patrolBoat{
	background-color:green;
}
